ul {
    list-style: none;
    padding: 0;
}


a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: lightblue;
}

header .mainSearch {
    display: flex;
    align-items: center;
}

header .mainSearch .logo {
    padding: 1rem;
    font-size: 3rem;
    color: royalblue;
}

header .mainSearch .logo:hover {
    color: darkblue;
}

header .mainSearch .searchInput {
    height: 3rem;
    border-radius: 0.5rem;
    padding: 0 1rem;
    border-color: beige;
}

header .mainSearch .searchInput:focus {
    border: 0.25rem solid royalblue;
    outline: none;
}


header .navigation,
header .links {
    display: flex;
}

header .navigation>li>a {
    border-radius: 50%;
    background-color: aqua;
    margin: 0 0.35rem;
}

header .navigation>li>a:hover {
    background-color: teal;
    border: 1px solid royalblue;
}


.navIcons {
    font-size: 3rem;
    color: royalblue;
    margin: 0 0.5rem;

}

.navIcons:hover {
    color: darkcyan;
}

.bellIcon {
    position: relative;
    display: block;
}

.bellIcon span {
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent {
    width: 40%;

}

.leftContent,
.rightContent {
    width: 15%;
    /* border: 5px solid black; */
    height: 100%;
    position: fixed;
    top: 5.5rem;
}

.leftContent {
    left: 0;


}

.rightContent {
    right: 0;

}

.mainContent .post {
    box-shadow: 5px 5px 5px 5px;
    margin: 3rem 0;
    padding: 1rem;
}


.mainContent .post .postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContent .post .postHeader .profileUserInfo {
    display: flex;
    align-items: center;
}

/* .mainContent .post .postHeader .profileUserInfo .profileImage {
    width: 3rem;
    border-radius: 50%;
} */

.mainContent .post .postHeader .profileUserInfo .profileName {
    display: flex;
    flex-direction: column;
}


.mainContent .post .postHeader .profileOptions {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainContent .post .postHeader .profileOptions:hover {
    background-color: lightgray;
}

.mainContent .post .content {
    display: flex;
    flex-direction: column;
}

.mainContent .post .content .imageWrapper {
    position: relative;
}


.mainContent .post .imgContent {
    max-width: 100%;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px;
}

.mainContent .post .content .infoIcon {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    position: absolute;
    bottom: 0.7rem;
    right: 1rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
}

.mainContent .post .content .postTitle {
    padding: 1rem;
}


.mainContent .post .content .postDescription {
    padding: 1rem;
    margin: 0;
}


.mainContent .post .reacts {
    display: flex;
    justify-content: space-between;
}

.mainContent .post .reacts .reactsIcons {
    color: blue;
}


.mainContent .post .reactsActions .actions {
    display: flex;
    justify-content: space-between;
}

.mainContent .post .reactsActions .actions .reaction {
    color: royalblue;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 1rem;

}


.mainContent .post .reactsActions .actions .reaction:hover {
    color: #0f43df;
    background-color: #d7e9f0;
    font-weight: 600;
}

.mainContent .post .commentSection {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    align-items: center;
    gap: 1rem;
}

/* .mainContent .post .commentSection .profileImage {
    width: 3rem;
    border-radius: 50%;
} */

.mainContent .post .commentSection .newCommentField {
    width: 80%;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    background-color: #daf4fd;
    border: 1px solid #888;
    cursor: pointer;
}


.mainContent .post .commentSection .newCommentField::placeholder {
    color: royalblue;
}


.mainContent .post .commentSection .newCommentField:hover {
    color: lab(81.58% 4.33 -22.74);
}


.mainContent .post .commentSection .newCommentField:focus {
    outline-color: royalblue;
}


.mainContent .post .commentSection .insertCommentButton {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    color: royalblue;
    width: 5rem;
}


.mainContent .post .commentSection .insertCommentButton:hover {
    color: #0f43df;
    font-size: 1.3rem;
    background-color: #a5a3a1;
    border-radius: 0.5rem;
}

/* .mainContent .post .userComments .profileImage {
    width: 3rem;
    border-radius: 50%;
} */

.profileImage {
    width: 3rem;
    border-radius: 50%;
}

.mainContent .post .userComments .profileUserComment {
    display: flex;
    align-items: center;
    padding: 1rem;
}


.mainContent .post .userComments .userCommentText {
    margin: 0 1rem;
    border: 1px solid #888;
    padding: 1rem;
    border-radius: 1rem;
    background-color: lightgray;
    position: relative;
}

.mainContent .post .userComments .userCommentText .emojiReaction {
    position: absolute;
    bottom: 0;
    right: 1rem;
    display: none;
}

.mainContent .post .userComments .userCommentText:hover .emojiReaction {
    display: block;
}

.mainContent .post .userComments .userCommentText:hover {
    animation-name: comment-animation;
    animation-duration: 1s;

}

.mainContent .post .userComments .commentReaction {
    margin-left: 3rem;
    color: #888;
    gap: 1rem;
    display: flex;
}

.mainContent .post .userComments .commentReaction .commentReactionButton:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

.rightContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.rightContent .newsFeed {
    /* border: 1px solid black; */
    padding: 1rem;;
    margin-top: 3rem;
    margin-right: 3rem;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightContent .newsFeed img {
    width: 14rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContent .newsFeed .newsButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContent .newsFeed button {
    padding: 8px 15px;
  border: none;
  background-color: #00796b;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.rightContent .newsFeed button:hover {
  background-color: #004d40;
}


.rightContent .weatherInfo .container {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
  margin-right: 40px;
}

.rightContent .weatherInfo input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.rightContent .weatherInfo button {
  padding: 8px 15px;
  border: none;
  background-color: #00796b;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.rightContent .weatherInfo button:hover {
  background-color: #004d40;
}

.rightContent .weatherInfo .weather-info p {
  margin: 5px 0;
  font-size: 1.1em;
}

.leftContent {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 3rem;
}

.leftContent .profileUserInfo {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.leftContent .profileName {
    display: flex;
    align-items: center;
    font-size: 1rem;
}


.leftContent .profileFriends {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1.2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.leftContent .profileFriends .friends {
/* border: 0 solid black; */
/* background-color: #abcdd8; */
border-radius: 60%;
font-size: 2.5rem;
color: black;
}

.leftContent .profileFriends .fri {
    font-size: 1rem;
}

.leftContent .profileMemories {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1.2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.leftContent .profileMemories .Memories {
    border-radius: 60%;
font-size: 2.5rem;
color: black;
}

.leftContent .profileMemories .memo {
    font-size: 1rem;
}

.leftContent .profileSaved {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1.2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.leftContent .profileSaved .Savey {
    border-radius: 60%;
font-size: 2.5rem;
color: black;
}

.leftContent .profileSaved .save {
    font-size: 1rem;
}


.leftContent .profileGroups {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1.2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.leftContent .profileGroups .Group {
    border-radius: 60%;
font-size: 2.5rem;
color: black;
}

.leftContent .profileGroups .grou {
    font-size: 1rem;
}

.leftContent .profileVideo {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1.2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.leftContent .profileVideo .Videos {
    border-radius: 60%;
font-size: 2.5rem;
color: black;
}

.leftContent .profileVideo .vide {
    font-size: 1rem;
}

.leftContent .profileMarket {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1.2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.leftContent .profileMarket .Market {
    border-radius: 60%;
font-size: 2.5rem;
color: black;
}

.leftContent .profileMarket .mark {
    font-size: 1rem;
}







@keyframes comment-animation {
    from {
        left: -2rem;
    }

    to {
        left: -1rem;
    }
}


.insertCommentButton {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 5rem;
    height: 1.5rem;
}

.btn {
    width: 5rem;
    height: 1.5rem;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: orange;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}