* {
    box-sizing: border-box;
}

body {
    background-image: url(../assets/login-bg.jpg);
}

a {
    text-decoration: none;
}

.formContainer {
    background-color: #1B4965;
    color: white;
    width: 95%;
    max-width: 30rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px #888;
    padding: 2rem 4rem;
    text-align: center;
    margin: 5rem auto;
}

form{
    display: flex;
    flex-direction: column;
}

form .formField {
    margin-bottom: 0.5rem;
}

form .formField input {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #CAE9FF;
    color: black;
    border-radius: 0.3rem;
    border: 2px solid #62B6CB;
}

form .formField label {
    font-weight: bold;
    font-size: 1.2rem;
}

form .formField.rememberUserField{
    display: flex;
    justify-content: center;
    align-items: center;
}

form .formField.rememberUserField input {
    width: 20%;
}

form .formField.rememberUserField label{
   
    font-variant: normal;
    font-size: 0.8rem;
    cursor: pointer;
}

form .loginButton {
    background-color: #62B6CB;
    border: 1px solid white;
    color: white;
    padding: 0.75rem 2.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;

}

form .loginButton:hover {
    background-color: #FFE74C;
    color: black;
    font-weight: bold;
    border: 1px solid;
}

a strong {
    color: #FFE74C;
}

.registerButton {
    background-color: #5FA8D3;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    display: block;
    margin: 0 auto;
    border-radius: 0.3rem;
    width: 75%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.registerButton:hover {
    /* opacity: 0.8; */
    background-color: #FFE74C;
}

/* a {
    color: white;
} */

.loginError {
    color: red;
    font-style: italic;
    font-weight: 600;
    display: none;
}