body {
    background-image: url(../assets/login-background.jpg);
}

a {
    text-decoration: none;
}

.formContainer {
    background-color: teal;
    color: white;
    width: 95%;
    max-width: 30rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px #888;
    padding: 2rem 4rem;
    text-align: center;
    margin: 5rem auto;
}

form {
    display: flex;
    flex-direction: column;
}

form .formField {
    margin-bottom: 0.5rem;
}

form .formField input {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: lightblue;
    color: blueviolet;
    border-radius: 0.3rem;
    border: 2px solid white;
}

form .formField label {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.2rem;
}

form .formField.remeberUserField {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .formField.remeberUserField input {
    width: 10%;
}

form .formField.remeberUserField label {
    font-size: 0.8rem;
    font-variant: normal;
    cursor: pointer;
}

form .loginButton {
    background-color: cadetblue;
    border: 1px solid white;
    border-radius: 0.3rem;
    color: white;
    padding: 0.75rem 2.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

form .loginButton:hover {
    background-color: lightblue;
    border: cadetblue;
    color: black;
    border: 1px solid cadetblue;
    font-weight: bold;
}

a strong {
    color: greenyellow;
}

.registerButton {
    background-color: turquoise;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    display: block;
    margin: 0 auto;
    border-radius: 0.3rem;
    width: 75%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.registerButton:hover {
    opacity: 0.8;
}

a {
    color: white;
}