.header {
    border: 2px solid blue;
    margin-top: 1rem;
}

.header .title {
    color: red;
}

.header .headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}