@use '../scss/mixins' as mixins;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #f1ebc4;

    #headerIcon {
        font-size: 3rem;
        color: black;
    }

    #headerIcon:hover {
            color: #7e8ccf
        }
}


.mainSearch {
    @include mixins.flexbox();
    align-items: center;
    padding: 0;
    gap: 1rem;
    
    .logo {
    display: flex;
    padding: 1rem;
    color: royalblue;
    }
}


.mainNavigation {
    @include mixins.flexbox();
    

    .navigation {
        margin-right: 40rem;
      list-style: none;
      @include mixins.flexbox();
      gap: 3.5rem;
      padding: 0;
    

      li {
        @include mixins.flexbox();
        gap: 0.5rem;
      }
    }
  }

  .links {
    @include mixins.flexbox();
    padding: 0;
    gap: 1rem;
    list-style: none;
    color: black;

    .controlPoint {
        padding-right: 15px;
    }
  }

  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#postHeader {
        display: flex;
    justify-content: space-between;
    align-items: center;
}



  #main #postOne {
    width: 40%;
    flex-direction: column;
    box-shadow: 1px 2px 2px 3px;
    margin: 3rem 0;
    padding: 1rem;
    border-radius: 1rem;

}

#leftContent,
#rightContent {
    width: 15%;
    border: 5px solid #f1ebc4;
    border-radius: 1rem;
    height: 100%;
    position: fixed;
    top: 5.5rem;
    background-color: #f1ebc4;
    box-shadow: 5px 5px 2px 2px rgb(71, 98, 107);
}

#leftContent {
    left: 0;


}

#rightContent {
    right: 0;

}

#profileUserInfo {
    display: flex;
    align-items: center;
    
}

#profilePicture {
    width: 3rem;
    border-radius: 50%;
}

#profileName {
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: column;
}

#content #imageWrapper {
    position: relative;
}

 #content #imageWrapper #postContent {
    max-width: 100%;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px;
 }


.leftContent {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 3rem;
}

.leftMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.leftContent .profileUserInfo {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.leftContent .profileName {
    display: flex;
    align-items: center;
    font-size: 1rem;
}


.leftContent .profileFriends {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1.2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.leftContent .profileFriends .friends {
/* border: 0 solid black; */
/* background-color: #abcdd8; */
border-radius: 60%;
font-size: 2.5rem;
color: black;
}

.leftContent .profileFriends .fri {
    font-size: 1rem;
}

.leftContent .profileMemories {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1.2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.leftContent .profileMemories .Memories {
    border-radius: 60%;
font-size: 2.5rem;
color: black;
}

.leftContent .profileMemories .memo {
    font-size: 1rem;
}

.leftContent .profileSaved {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1.2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.leftContent .profileSaved .Savey {
    border-radius: 60%;
font-size: 2.5rem;
color: black;
}

.leftContent .profileSaved .save {
    font-size: 1rem;
}


.leftContent .profileGroups {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1.2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.leftContent .profileGroups .Group {
    border-radius: 60%;
font-size: 2.5rem;
color: black;
}

.leftContent .profileGroups .grou {
    font-size: 1rem;
}

.leftContent .profileVideo {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1.2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.leftContent .profileVideo .Videos {
    border-radius: 60%;
font-size: 2.5rem;
color: black;
}

.leftContent .profileVideo .vide {
    font-size: 1rem;
}

.leftContent .profileMarket {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1.2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.leftContent .profileMarket .Market {
    border-radius: 60%;
font-size: 2.5rem;
color: black;
}

.leftContent .profileMarket .mark {
    font-size: 1rem;
}

