.sidebarLeft {
  width: 25rem;
  background: #fff;
  border-right: 1px solid #eee;
  margin-top: 10rem;

  .containerProfileCard {
    background-color: #52545F;
    background: linear-gradient(130deg, rgba(82, 84, 95, 1) 0%, rgba(56, 58, 69, 1) 50%);
    height: 40rem;
    position: relative;
    z-index: 1;

    .logoUp {
      font-weight: bold;
      font-size: 2rem;
      color: #ffffff;
      margin-bottom: 20px;
      text-align: center;
      padding-top: 1rem;
    }

    .logoImage {
      width: 10rem;
      height: 10rem;
      left: 30%;
      position: relative;
    }

    .textTitle {
      color: white;
      text-align: center;
    }
  }

  .profileCard {
    position: absolute;
    top: 22rem;
    left: 8%;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 20rem;
    padding: 6rem;
    z-index: 1;
    text-align: center;
  }

  .profileCard2 {
    position: absolute;
    top: 43rem;
    left: 12.5%;
    background: rgb(244, 239, 239);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 18rem;
    padding: 2.5rem;
    z-index: 0;
    text-align: center;
  }

  .avatar {
    width: 60px;
    height: 60px;
    background: #ddd;
    border-radius: 50%;
    margin: 0 auto 10px;
  }

  .firstHr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .friendsAndGroup {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }


.bigMenu {
  display: grid;
  grid-template-columns: repeat(4,2fr);
  gap: 2rem;
  margin-top: 10rem;
  padding: 2rem;
  align-items: start;
  font-weight: bold;
}

.menu a {
  padding: 0.6rem 0;
  color: #555;
  text-decoration: none;
  text-align: center;
}

}
