* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 40vw;

  .profileImage {
    width: 3rem;
    border-radius: 50%;
  }

  .post {
    margin: 3rem 0;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;

    .postHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;

      .profileUserInfo {
        display: flex;
        align-items: center;

        .profileName {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 0.5rem;
        }
      }

      .profileOptions {
        display: flex;
        gap: 1rem;
        margin-top: -2rem;

        img {
          height: 1.5rem;
          padding: 0.2rem;
          border: 1px solid black;
          border-radius: 50%;
          background-color: #CAE9FF;

          &:hover {
            background-color: #FFE74C;
          }
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;

      .imgContent {
        max-width: 100%;


      }

      .postDescription {
        margin-bottom: 0.5rem;
      }
    }

    .reacts {
      display: flex;
      justify-content: space-between;

      .likesInfo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 2rem;
          margin-right: -0.7rem;
        }

        span {
          margin-left: 1rem;
        }
      }

      .commentsInfo {
        display: flex;
        gap: 0.7rem;
      }

    }

    .reactsActions {
      .actions {
        display: flex;
        justify-content: space-between;

        .reaction {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            border-radius: 50%;
            background-color: #CAE9FF;

            &.liked {
              background-color: #FFE74C;
            }

            &:hover {
              background-color: #FFE74C;
            }
          }

          span {
            margin-left: 0.5rem;
          }

          &:hover {
            color: #5FA8D3;
          }


        }
      }
    }

    .commentSection {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 1rem;
      align-items: center;
      gap: 1rem;

      .newCommentField {
        width: 80%;
        height: 5.5rem;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        background-color: #CAE9FF;
        cursor: pointer;
        border: none;

        &::placeholder {
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        &:hover {
          background-color: #5FA8D3;
        }

        &:focus {
          outline-color: black;
        }

      }

      .insertCommentButton {
        width: 2rem;
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: #CAE9FF;

        &:hover {
          background-color: #FFE74C;
          padding: 0.2rem;
        }
      }

      .insertComm {
        background-color: transparent;
        border: none;
      }


    }

    .userComments {
      margin-bottom: 0.5rem;

      .userCommentsContent {
        display: flex;
        margin-left: 1rem;
      }

      .userCommentText {
        margin: 0 1rem;
        padding: 1rem;
        border-radius: 1rem;
        background-color: #CAE9FF;
        position: relative;
        width: 35rem;

        span.commentUserName {
          font-weight: bold;
        }

        p {
          margin: 0 0 0.8rem 0;
        }

        .emojiReaction {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 0;
          bottom: 0;

          span {
            margin-right: 0.5rem;
          }

          img {
            width: 2rem;
            margin-left: -0.6rem;
          }

          img.laughEmoji {
            width: 1.7rem;

          }
        }

      }

      .commentReaction {
        position: relative;
        width: 35rem;
        margin-left: 5rem;
        display: flex;
        gap: 0.5rem;
        color: #1B4965;
        padding-left: 0.3rem;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

    }
  }

}