.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    .newsfeed {
        margin-top: 5rem;
    }

    aside {
        width: 20rem;
        background-color: lightgray;
        height: 50vh;
    }
}