// Variables for colors and gradients used in the project
$color-primary: #5E60CE;
$color-secondary: #4361EE;
$color-accent: #80c9dd;
$color-bg: #FAF6E5;
$color-text: #ffffff;
$color-panel: #f4f2f2;
$color-input: #f3f0f0;


$gradient-orange: linear-gradient(135deg, #FFC94D, #80c9dd);
$gradient-purple: linear-gradient(135deg, #B084F4, #F9AFAE);
