@use './variables' as *;
@use 'sass:color';

body {
  margin: 0;
  padding: 0;
  background-color: $color-bg;
  color: $color-text;
  font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $color-primary;
}

button {
  cursor: pointer;
  background-color: $color-accent;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  transition: all 0.2s ease;

  &:hover {
    background-color: color.adjust($color-accent, $lightness: -5%);
  }
}
