* {
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  text-align: center;
  /* height: 500px; */
}
header {
  background-color: red;
  color: white;
}

nav {
  background-color: yellow;
}

nav.navigationMenu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav.navigationMenu ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.pageContent {
  display: flex;
  gap: 10px;
  height: 100%;
}

.contentSidebar {
  background-color: green;
  color: white;
  flex: 2;
}
section {
  background-color: blue;
  color: white;
  flex: 8;
}

footer {
  background-color: orange;
}

/* Inline => nu poti modifica dimensiunile, nu se pot pune margini verticale */
