* {
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .frendsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .friends {
      position: sticky;
      top: 4.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 0.5rem;
      background-color: #005f5f;
      color: wheat;
      box-shadow: 1px 1px 15px #4db8b8;
      width: 50%;
      gap: 1rem;
      padding: 1rem;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: large;
        margin-left: 5rem;
      }

      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
        &:hover {
          color: red;
          cursor: pointer;
        }
      }

      .friendsWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;

        .friendItem {
          width: calc(33.333% - 1rem);
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          text-align: center;
        }

        .friend {
          width: 100%;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          border-radius: 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .mainContainer .frendsContainer .friends {
    width: 70%;
  }

  .mainContainer .frendsContainer .friends .friendsWrapper .friendItem {
    width: calc(50% - 1rem);
  }

  .mainContainer .frendsContainer .friends span,
  .mainContainer .frendsContainer .friends .menu {
    margin-left: 2rem;
  }
}

@media (max-width: 768px) {
  .mainContainer .frendsContainer .friends {
    width: 90%;
  }

  .mainContainer .frendsContainer .friends .friendsWrapper .friendItem {
    width: 100%;
  }

  .mainContainer .frendsContainer .friends span,
  .mainContainer .frendsContainer .friends .menu {
    margin-left: 0;
    text-align: center;
  }
}
