html {
    font-size: 20px;
    box-sizing: border-box;
}

.responsiveContainer {
    font-size: 30px;
    border: 5px solid red;
    width: 90%;
}

.responsiveSpanParrent {
    /* Rar folosita, se raporteaza la font size-ul declarat pe parinte */
    font-size: 0.5em;
}

.responsiveSpan {
    font-size: 0.5rem;
}

.layer1 {
    border: 2px solid black;
    border-radius: 5px;
    background-color: aqua;
    width: 90%;
    padding: 1rem;
    margin-top: 0.5rem;
}

.layer2 {
    border: 2px solid red;
    background-color: lightsalmon;
    width: 50%;
    height: 5rem;
}

.layer22 {
    border: 2px solid blue;
    background-color: green;
    margin-top: 0.5rem;
    color: white;
    padding: 0.5rem;
    /* vw => viewport width => unitate care se raporteaza intotdeauna la ecran */
    width: 95vw;
}

.responsiveImage {
    max-width: 100%;
}

.lowRes {
    max-width: 100%;
}

.box {
    background-color: red;
    width: 30%;
    /* vw => viewport width */
    width: 30vw;
    /* vh => viewport height */
    height: 20vh;
    border: 1px solid black;
}

.flexContainer {
    margin: 1.5rem 0;
    width: 90%;
    display: flex;
    border: 5px solid green;
    gap: 0.5rem;
    justify-content: space-between;
}

.flexContainer .flexItem {
    width: 5rem;
    height: 5rem;
    background-color: blue;
    color: white;
    text-align: center;
    border: 1px solid black;
}

.flexItem {
    text-align: center;
    background-color: greenyellow;
}

/* Trebuie scrise media queries in ordine inversa a incluziunii */
@media only screen and (max-width: 1000px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (max-width: 700px) {
    body {
        background-color: yellow;
    }

    .lowRes {
        display: none;
    }

    .flexContainer {
        flex-direction: column;
        align-items: center;
    }

    .flexContainer .flexItem {
        width: 80%;
    }
}

@media screen and (min-width: 1300px) {
    body {
        background-color: brown;
    }
}

@media screen and (min-width: 1400px) {
    body {
        background-color: orange;
    }
}

