#loginForm {
    width: 30rem;
    height: auto;
    margin: 0 auto;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 0.5rem;
}

#loginForm #error {
    display: none;
}

#loginForm .loginFormField {
    width: 1rem;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    