* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.mainPost {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .post {
        box-shadow: 5px 5px 5px 5px #888;
        margin: 3rem 0;
        padding: 1rem;

        .postHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .profileUserInfo {
                display: flex;
                align-items: center;

                .profileName {
                    display: flex;
                    flex-direction: column;
                } 
            }

            .profileOptionsWrapper {
                    position: relative;

                    .profileOptionsDropdown {
                        position: absolute;
                        z-index: 1;
                        right: 0.5rem;
                        width: 10rem;
                        display: flex;
                        flex-direction: column;
                        display: none;

                        button {
                            padding: 0.2rem;
                            cursor: pointer;

                            &:hover {
                                border: 1px solid teal;
                                background-color: lightgray;
                            }
                        }
                    }
                }

            .profileOptions {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: lightgray;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;

            .imgWrapper {
                position: relative;
            }

            .imgContent {
                max-width: 100%;
                border: 1px solid white;
                box-shadow: 1px 1px 1px 1px #888;
            }

            .infoIcon {
                width: 2rem;
                height: 2rem;
                font-size: 2rem;
                position: absolute;
                right: 0;
                bottom: -1rem;
                right: 1rem;
                background-color: white;
                border-radius: 50%;
                display: flex;
                cursor: pointer;
            }

            .postTitle {
                padding: 1rem;
            }

            .postDescription {
                padding: 1rem;
                margin: 0;
            }
        }

        .reacts {
            display: flex;
            justify-content: space-between;

            .reactsIcons {
                color: royalblue;
            } 
        }

        .reactsActions {
                .actions {
                    display: flex;
                    justify-content: space-between;

                    .reaction {
                        color: royalblue;
                        cursor: pointer;
                        padding: 0.5rem 1rem;
                        border-radius: 1rem;

                        &:hover {
                            color: #1348e8;
                            background-color: #e0f0f6;
                            font-weight: 600;
                        }

                        &.touched {
                            color: #d6e1ff;
                            background-color: teal;

                            &:hover {
                                color: #bbcbf9;
                                background-color: #005151;
                            }
                        }
                    }
                }
            }
    }
}



.infoIconWrapper {
    position: relative;
}

.infoMessage {
    position: absolute;
    display: none;
    background-color: white;
    border: 3px solid black;
    top: -0.5rem;
    left: 5rem;
    padding: 0.5rem;
}

.mainPost .post .commentSection {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    align-items: center;
    gap: 1rem;
}

/* .mainPost .post .commentSection .profileImage {
  width: 3rem;
  border-radius: 50%;
} */

.mainPost .post .commentSection .newCommentField {
    width: 80%;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    background-color: #dcf2f9;
    border: 1px solid #888;
    cursor: pointer;
}

.mainPost .post .commentSection .newCommentField::placeholder {
    color: royalblue;
}

.mainPost .post .commentSection .newCommentField:hover {
    background-color: #cbecf8;
}

.mainPost .post .commentSection .newCommentField:focus {
    outline-color: royalblue;
}

.mainPost .post .commentSection .insertCommentButton {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    color: royalblue;
    width: 5rem;
}

.mainPost .post .commentSection .insertCommentButton:hover {
    color: #1348e8;
    font-size: 1.3rem;
    background-color: #ffd5ab;
    border-radius: 0.5rem;
}

.profileImage {
    width: 3rem;
    border-radius: 50%;
}