* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    position: fixed;
    width: 100%;
    top: 0;
    // left: 0;
    z-index: 10;
    background-color: #5FA8D3;

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            background-color: transparent;
            border: none;
        }
    }

    .navigation {
        display: flex;

        :global(.active) {
            background-color: #FFE74C;
        }

        li>a {
            border-radius: 50%;
            background-color: #CAE9FF;
            margin: 0 0.5rem;
            margin-left: 1rem;
            display: flex;
            height: 3rem;
            padding: 0.3rem;


            &:hover {
                background-color: #FFE74C;
            }
        }


    }

    .mainSearch {
        display: flex;
        align-items: center;

        .logo {
            width: 3.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            margin-right: 2rem;
        }

        span {
            color: black;
            position: absolute;
            left: 39rem;
        }

        .searchInput {
            height: 2.5rem;
            width: 18rem;
            border-radius: 0.5rem;
            padding: 0 1rem;
            text-align: center;
            /* background-color: #FFE74C; */
            background-color: #CAE9FF;
            border-color: black;
            color: black;

            &::placeholder {
                color: black;


            }

            &:focus {
                border: 0.2rem solid #CAE9FF
            }

        }

        .smallScreenSearch {
            display: none;
        }


    }

    .links {
        display: flex;
        cursor: pointer;


        li>a {
            border-radius: 50%;
            background-color: #CAE9FF;
            margin: 0 0.5rem;
            margin-right: 2rem;
            display: flex;
            height: 3rem;
            padding: 0.3rem;

            &:hover {
                background-color: #FFE74C;
            }

        }

        .bellIcon {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;

            img {
                width: 100%;
            }

            span {
                width: 1.5rem;
                height: 1.5rem;
                background-color: red;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 0;
                left: 2rem;
                border-radius: 50%;
                color: white;
                font-weight: bold;
                font-size: 0.8rem;
            }
        }

        .accountSettings {
            button {
                border-radius: 50%;
                background-color: #CAE9FF;
                margin: 0 0.5rem;
                margin-right: 1rem;
                display: flex;
                height: 3rem;
                padding: 0.3rem;
                border: transparent;
                cursor: pointer;

                &:hover {
                    background-color: #FFE74C;
                }

            }

            .accountSettingsMenu {

                // display: none;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 4rem;
                right: 0;
                width: 20rem;
                height: 18rem;
                background-color: #5FA8D3;
                padding: 0.5rem;
                gap: 1rem;
                // border: 1px solid #1b4965;
                border-radius: 0rem 0rem 0rem 0.5rem;
                box-shadow: -0.2rem 0.2rem 0.5rem black;

                button {
                    // border: 1px solid #1b4965;
                    background-color: white;
                    border-radius: 0.5rem;
                    height: 2.5rem;
                    width: 95%;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    &:hover {
                        background-color: #FFE74C;
                    }


                }

            }
        }
    }


    .fileInput {
        display: none
    }


}


// MEDIA QUERIES

@media (max-width:1420px) {
    header {
        .links {
            .accountSettings {
                .accountSettingsMenu {
                    width: 14rem;
                    height: 18rem;
                }
            }
        }
    }

}

@media (max-width: 1100px) {
    header {


        .navigation {
            display: none;
        }

        .mainSearch {
            display: flex;
            flex: 1;
            justify-content: flex-start;
            margin-left: 1rem;

            .searchInput {
                width: 14rem;
            }
        }

        .links {
            display: flex;
            flex: 1;
            justify-content: flex-end;

            .accountSettings {
                .accountSettingsMenu {
                    width: 12rem;
                    height: 18rem;
                }


            }
        }


    }
}

@media (max-width:640px) {
    header {

        .mainSearch {

            .logo {
                height: 2.5rem;
                width: 2.5rem;

            }

            .searchInput {
                display: none;
            }

            .smallScreenSearch {
                display: flex;

                img {
                    height: 1.8rem;

                }

            }
        }

        .links {

            .contentBtn {
                width: 2.5rem;
                height: 2.5rem;
            }

            .bellIcon {
                width: 2.5rem;
                height: 2.5rem;
            }

            .accountSettings {
                .accountSettingsBtn {
                    width: 2.5rem;
                    height: 2.5rem;

                }
            }

        }
    }
}