.feature {
    border: 1px saddlebrown;
    border-radius: 10px;
    padding: 10px;
    width: 9rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonImg {
    width: 5rem;
    border-radius: 50%;
    padding: 0.5rem;
}