#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ui-features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  border: 3px solid #ccc;
  gap: 2rem;
}
