@import './scss/mixin.scss';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ui-features {
  @include flexbox();
}

.features-container {
  .features {
  @include flexbox();
  }
  flex-direction: column;
  margin-top: 6rem;
  border: 3px solid #ccc;
  gap: 2rem;
}
