.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    z-index: 5;

    aside {
        width: 15rem;
        background-color: black;
        height: 50vh;
        position: fixed;
        top: 5rem;
color: white;

        &.leftSide {
            left: 0;
        }

        &.rightSide {
            right: 0;
        }
    }
}