* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f5f6fa;
    color: #333;
}

// .container {
//     display: flex;
//     height: 100vh;
// }


.mainContainer {
    display: flex;
    justify-content: center;
    flex: 1;

    /* Sidebar Stânga */
    .sidebarLeft {
        width: 24rem;
        background: #f2f2f6;
        border-right: 1px solid #eee;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 11;
        height: 150rem;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    }

    // Sidebar Dreapta
    .rightSide {
        height: 150rem;
        position: fixed;
        right: 0;
        top: 8%;
        width: 23rem;
        padding-left: 2rem;
        padding-right: 1rem;
        padding-top: 2rem;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    }

    // Main content
    .mainContent {
        display: flex;
        justify-content: center;
        flex: 1;
    }
}