.redSquare,
.blueSquare,
.greenSquare {
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
}

.redSquare {
    background-color: red;
}

.blueSquare {
    background-color: blue;
}

.flexContainer, .flexItems {
    display: flex;
}

.greenSquare {
    background-color: green;
}