.mainContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;

    aside {
        width: 20rem;
        background-color: lightgray;
        height: 50vh;
        position: fixed;
        top: 5rem;

        &.leftContent {
            left: 0;
        }

        &.rightContent {
            right: 0;
        }
    }
}