* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #183b4e;
  color: #f5eedc;
}
header.header {
  height: 3rem;
  border: 1px solid #f5eedc;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #27548a;
}
.navBar {
  height: 100%;
  /* border: 2px solid rgb(0, 0, 0); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoPosition {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  flex: 1;
}
.logo {
  display: flex;
  align-items: center;
  width: 2rem;
  height: auto;
  margin-right: 0.25rem;
}
h1 a {
  text-decoration: none;
  color: #dda853;
}
.searchPositoin {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 25rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  border: 2px solid #dda853;
  border-radius: 2rem;
  background-color: #27548a;
  color: #f5eedc;
}
.search:focus {
  border: 3px solid #ffb700;
}
.search::placeholder {
  color: #dda853;
}

.menuPosition {
  flex: 1;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

nav.navBar ul a {
  text-decoration: none;
  color: #dda853;
}

nav.navBar ul a:hover {
  text-decoration: none;
  color: #f5eedc;
}

.container {
  display: flex;
  height: 75rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  /* border: 3px solid red; */
  color: #f5eedc;
}

.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 95%;
  overflow: auto;
  scrollbar-color: rgba(167, 131, 131, 0) rgba(255, 6, 6, 0);
  border: 1px solid #f5eedc;
  border-top: none;
  background-color: #27548a;
  position: fixed;
  top: 3rem;
  left: 0;
}
/* .positionSideBar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.groupedButtons {
  width: 90%;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  /* border: 2px dashed red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 2px solid #183b4e;
}

.groupedButtons.last {
  border-bottom: 2px solid #183b4e00;
}

.groupedButtons .button {
  border-radius: 0.5rem;
  /* border: 1px solid white; */
  width: 10rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #183b4e;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.groupedButtons .button:hover {
  background-color: #204f68;
}

/* .groupedButtons .popular {
  border-radius: 0.5rem;
  border: 1px solid white;
  width: 10rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #183b4e;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
} */
/* .groupedButtons .popular:hover {
  background-color: #204f68;
} */
/* .groupedButtons .explore {
  border-radius: 0.5rem;
  border: 1px solid white;
  width: 10rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #183b4e;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
} */
/* .groupedButtons .explore:hover {
  background-color: #204f68;
} */
/* .groupedButtons .contact {
  border-radius: 0.5rem;
  border: 1px solid white;
  width: 10rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #183b4e;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
} */
/* .groupedButtons .all:hover {
  background-color: #204f68;
} */

.sideBar .groupedButtons a {
  text-decoration: none;
  color: #dda853;
}
.sideBar .groupedButtons a:hover {
  text-decoration: none;
  color: #f5eedc;
}

/* .groupedButtons {
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #27548a;
  overflow-x: hidden;
  padding-top: 20px;
} */

/* .groupedButtons a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #dda853;
  display: block;
}

.groupedButtons a:hover {
  color: #f1f1f1;
}

 */

.mainContent {
  /* border: 3px solid green; */
  /* width: 30rem; */
  margin-top: 295rem;
  margin-left: 16rem;
  margin-right: 22rem;
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.card {
  height: 35rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  /* border: 1px solid red; */
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 #204f68a1, 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  color: #f5e6bf;
  padding: 0.5rem;
  /* overflow: hidden; */
}

.card:hover {
  background-color: #204f6888;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.card > p {
  height: 30rem;
  overflow-y: scroll;
  overflow: scroll;
  scrollbar-color: rgba(255, 0, 0, 0) rgba(255, 166, 0, 0);
}

.card > p::first-letter {
  font-size: xx-large;
}

.card.two > img {
  width: 70%;
  height: 80%;
}

.card.three > video {
  width: 50%;
  height: 80%;
}

.copyrights {
  /* border: 3px solid white; */
  width: 21rem;
  flex: 1.5;
  display: flex;
  position: fixed;
  top: 3rem;
  right: 0;
  flex-direction: column;
  height: 100%;
}
.emptySpace {
  /* border: 3px dashed green; */
  height: 90%;
  text-align: center;
}
.legalInfo {
  /* border: 3px solid black; */
  color: #f5eedc;
  /* height: 5rem; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.legalInfo p a {
  text-decoration: none;
  color: #dda853;
}
.policiesLinks {
  margin: 0 1em;
  /* border: 1px solid red; */
  text-align: center;
  display: flex;
  gap: 0.5rem;
}
.bredditRights {
  margin: 0 1rem;
  /* border: 1px solid pink; */
  display: block;
}
.legalInfo p a:hover {
  text-decoration: none;
  color: #dda853;
  text-decoration: underline;
}
